body {
  font-family: "Edu NSW ACT Foundation";
}

.img-fluid{
  height: 3em;
  width: 100%;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/playa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #0b8ee6;

}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
